@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}
.page-header {
  color: rgba(255, 255, 255, 1);
  background: #ffffff;
}
.navigation-link {
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.page-main {
  color: #242424;
  background-color: #fbf7f4;
}
.presentation {
  margin: 0 auto;
  width: 1200px;
  height: 485px;
  background-image: url("./indexfoto/fotobackground2.svg"),
    ("./indexfoto/background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
}
.information {
  background: #ffffff;
}
.title-information {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.information-city {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
.description-item,
.attraction {
  background: #82b3d3;
}
.description-title,
.bridge-attraction {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.description-sedona,
.attraction-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.advantages {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
advantages-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.service {
  background: rgba(131, 179, 211, 0.12);
}
.service-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.service-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.suggestion {
  background: #ffffff;
}
.suggestion-title {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.suggestion-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.searchhotel {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe {
  ont-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}
.information-description {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.phone {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.page-footer {
  background: #ffffff;
}
.choose-hotels {
  width: 1200px;
  height: 412px;
  background-image: url("../catalogfoto/photomain.jpg");
  background-repeat: no-repeat;
  background-position: auto;
}
.description-hotels {
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}
