@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  color: rgba(255, 255, 255, 1);
  background: #ffffff;
}
.logo {
  width: 140px;
  margin-left: 70px;
  margin-right: 44px;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  position: relative;
  display: block;
  margin: 20px 32px 20px 0;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.navigation-link-selected::before {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-catalog {
  margin-right: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px 0 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
.navigation-user-icon {
  min-width: 44px;
  min-height: 64px;
  background-image: url("../indexfoto/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-icon-like {
  position: relative;
  min-width: 44px;
  min-height: 64px;
  background-image: url("../indexfoto/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
}

.navigation-user-icon-like::before {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 20px;
  right: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7db54f;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  content: "12";
}

.navigation-user:nth-last-child(2) {
  margin-right: 29px;
}

.button-accept {
  width: 160px;
  height: 36px;
  margin: 14px 0 14px 0;
  background: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.page-container {
  margin: 0 auto;
  width: 1200px;
}
.page-main {
  color: #242424;
  background-color: #fbf7f4;
}
.title-presentation {
  text-align: center;
  margin: 51px 371px 82px 371px;
}
.presentation {
  width: 1200px;
  background-image: url("../indexfoto/background2.svg"),
    url("../indexfoto/fotobackground.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: cover;
}
.information {
  width: 1200px;
  background: #ffffff;
  padding: 69px 220px 90px;
}
.title-information {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.information-reasons {
  margin-top: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
.description-list {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  height: 384px;
}
.advantages-attraction {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.advantages-service {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 384px;
}
.description-item,
.attraction {
  width: 400px;
  padding-top: 92px;
  background: #82b3d3;
  background-image: url("../indexfoto/rectangle1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.description-title,
.bridge-attraction {
  margin-bottom: 62px;
  margin-left: 101px;
  margin-right: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.foto-hotel {
  display: block;
}

.description-sedona,
.attraction-description {
  margin-right: 75px;
  margin-left: 75px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-service {
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  padding-top: 103px;
  background-image: url("../indexfoto/rectangle2.svg");
  background-repeat: no-repeat;
  background-position: center 189px;
}

.advantages-road {
  display: block;
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
  padding-top: 103px;
  background-image: url("../indexfoto/rectangle2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.service-house {
  width: 400px;
  padding-top: 182px;
  padding-bottom: 80px;
  background-image: url("../indexfoto/house.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}
.service-suvenirs {
  width: 400px;
  padding-top: 182px;
  padding-bottom: 80px;
  background-image: url("../indexfoto/suvenirs.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.service-food {
  width: 400px;
  padding-top: 182px;
  padding-bottom: 80px;
  background: #ffffff;
  background-image: url("../indexfoto/food.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advantages-title {
  margin: 0 112px;
  margin-bottom: 62px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  margin: 0 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.house-description {
  margin: 0 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.food-description {
  margin: 0 79px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.suvenirs-description {
  margin: 0 96px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.foto-canyon {
  display: block;
}

.suggestion {
  width: 1200px;
  background: #ffffff;
  padding-top: 96px;
  padding-bottom: 104px;
  margin: 0;
}

.suggestion-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.suggestion-description {
  margin: 0 324px 0 324px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.searchhotel {
  width: 376px;
  margin: 62px 412px 0 412px;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-information {
  width: 1200px;
  padding-top: 96px;
  padding-bottom: 104px;
  background-image: url("../indexfoto/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
}

.subscribe {
  margin: 0 360px 20px 360px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  margin: 0 350px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  margin: 54px 258px 0 258px;
}

.field-email {
  width: 452px;
  background: white;
  padding: 14px 0 14px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.field-subscribe {
  width: 232px;
  margin: 0;
  padding: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background: #82b3d3;
  cursor: pointer;
}

.footer-container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: #ffffff;
}

.social-list {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list:nth-last-child(3) {
  margin-right: auto;
}

.social-list:nth-last-child(1) {
  margin-left: 82px;
}

.social-item {
  margin-top: 58px;
  margin-right: 26px;
  margin-bottom: 48px;
}

.social-item-link {
  color: #68a2ca;
}

.social-item-link:hover {
  color: #68a2ca;
}

.social-item-link:focus {
  color: #68a2ca;
}

.social-item-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  width: 340px;
  padding: 45px 0 35px 0;
  margin: 0 235px 0 209px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.phone {
  display: block;
  text-decoration: none;
  color: #000000;
}
.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.website {
  padding: 48px 0 39px 0;
  margin: 0 70px 0 0;
}

.website-link {
  color: #000000;
}

.website-link:hover {
  color: #756157;
}

.website-link:focus {
  color: #756157;
}

.website-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.choose-hotels {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../catalogfoto/photomain.jpg");
  background-repeat: no-repeat;
  background-position: right, center;
  background-size: cover;
  padding-top: 35px;
}
.hotel {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.title-choose-hotels {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}
.hotel-icons {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 70px;
}

.icons-house-arrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.icon-house,
.icon-arrow {
  margin-right: 11px;
}

.infrastructure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 70px;
}

.service-infrastructure {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 40px 70px 73px 0;
}
.type-house-infrastructure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 140px;
  margin-bottom: 73px;
}

.price-hotel {
  display: flex;
  flex-direction: column;
  margin: 40px 70px 70px 130px;
}

.button-service-hotel {
  display: flex;
  flex-direction: column;
  margin: 60px 0 78px auto;
}

.hotel-apartment {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.hotel-service {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.hotel-infrastructure {
  margin-bottom: 16px;
}

.button-use {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 8px;
  width: 191px;
  height: 36px;
  background: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.cancel {
  padding: 8px 51px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.description-hotels {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}
.article-container {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}
.search-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0;
  padding: 50px 0 46px 0;
}

.title-search {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 380px;
  margin: 0;
}

.select-search {
  width: 292px;
  margin-left: 160px;
  padding: 14px 0 14px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.search-icon {
  min-width: 160px;
  display: grid;
  grid-template-columns: 48px 48px 48px;
  column-gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.icon-items {
  max-width: 48px;
  max-height: 48px;
}

.icon-items:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.icon-items:disabled {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}
.icon-items:focus {
  border-radius: #68a2ca;
}

.description-hotel-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1060px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.hotel-item {
  width: 340px;
  min-height: 438px;
  padding: 20px;
  margin-right: 20px;
}

.hotel-item:nth-child(3) {
  margin-right: 0;
}

.hotel-item:nth-child(4) {
  margin-right: 0;
}

.title-hotel {
  margin: 16px 0 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-information {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
}
.btn-information {
  display: inline-block;
  width: 140px;
  min-height: 36px;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}

.btn-information:hover {
  background: #615048;
}
.btn-information:active {
  background: #756157;
}
.button-choose {
  display: inline-block;
  width: 140px;
  height: 36px;
  background: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-choose:hover {
  background: #68a2ca;
}

.button-choose:active {
  background: #82b3d3;
}
.button-favorite {
  display: inline-block;
  width: 140px;
  height: 36px;
  background: #7db54f;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.button-favorite:hover {
  background: #6c9e42;
}
.button-favorite:active {
  background: #7db54f;
}

.rating-star {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.star {
  display: block;
  margin-right: 6px;
  margin-top: 26px;
}

.rating {
  width: 140px;
  height: 37px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 26px;
  margin-bottom: 0;
  margin-left: auto;
}
.pagination-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  list-style: none;
  margin: 40px 0 60px 0;
  padding: 0;
}
.pagination-item-unselected {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background: #f2f2f2;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.pagination-item-selected {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background: #82b3d3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.pagination-item-selected:hover {
  background: #68a2ca;
}

.pagination-item-selected:focus {
  background: #68a2ca;
}

.pagination-item-selected:active {
  background: #82b3d3;
}

.information-subscribe {
  width: 1200px;
  background: #ffffff;
  padding: 96px 0 104px 0;
}
.information-title {
  margin: 0 360px 20px 360px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.information-description {
  margin: 0 350px 54px 350px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
