@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #fbf7f4;
}
.page-header {
  color: rgba(255, 255, 255, 1);
  background: #ffffff;
}
.logo {
  width: 140px;
  margin-left: 70px;
  margin-right: 44px;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  width: 370px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  max-width: 278px;
  margin-left: auto;
  padding: 0;
}
.navigation-link {
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}
.button-accept {
  width: 160px;
  height: 36px;
  background: #756157;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.page-container {
  margin: 0 auto;
  width: 1200px;
}
.page-main {
  color: #242424;
  background-color: #fbf7f4;
}
.presentation {
  width: 1200px;
  background-image: url("../indexfoto/background2.svg"),
    url("../indexfoto/fotobackground.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
}
.information {
  background: #ffffff;
  background-size: cover;
}
.title-information {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.information-city {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}
.description-list {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  height: 384px;
}
.advantages-attraction {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.advantages-service {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 384px;
}
.description-item,
.attraction {
  width: 400px;
  height: 384px;
  background: #82b3d3;
}
.description-title,
.bridge-attraction {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.description-sedona,
.attraction-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.advantages {
  background: rgba(131, 179, 211, 0.12);
}
.advantages-item {
  width: 400px;
}
.advantages-road {
  background: rgba(131, 179, 211, 0.2);
  width: 400px;
}
.service-house,
.service-suvenirs {
  width: 400px;
}
.service-food {
  background: #ffffff;
  width: 400px;
}
.advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.advantages-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
.suggestion {
  background: #ffffff;
}
.suggestion-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.suggestion-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.searchhotel {
  width: 376px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
}
.subscribe {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}
.information-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.phone {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.page-footer {
  background: #ffffff;
}
.footer-container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}
.social-list {
  width: 150px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.contacts-phone {
  display: block;
  width: 340px;
  padding: 0 250px;
}
.choose-hotels {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../catalogfoto/photomain.jpg");
  background-repeat: no-repeat;
  background-position: right, center;
  background-size: cover;
}
.hotel {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.title-choose-hotels {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
.hotel-apartment {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
.hotel-service {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}
.button-use {
  width: 191px;
  height: 36px;
  background: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.cancel {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.hotel-icons {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 70px;
}
.infrastructure {
  width: 1060px;
  margin: 0 70px;
}
.description-hotels {
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
}
.article-container {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}
.search-panel {
  display: flex;
  width: 1060px;
  margin: 0;
  padding: 0;
}
.form-search {
  width: 292px;
  height: 48px;
}
.search-icon {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.description-hotel-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1060px;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}
.hotel-item {
  width: 340px;
  height: 438px;
}

.title-search {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 340px;
}
.title-hotel {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.btn-information {
  display: inline-block;
  width: 140px;
  min-height: 36px;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.button-choose {
  width: 140px;
  height: 36px;
  background: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.button-favorite {
  width: 140px;
  height: 36px;
  background: #7db54f;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.rating {
  width: 140px;
  height: 37px;
  background: #f2f2f2;
  border-radius: 4px;
}
.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.information-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}
.information-link {
  text-decoration: none;
}
.information-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.field {
  width: 452px;
  height: 52px;
  background: #f2f2f2;
  border-radius: 4px 0px 0px 4px;
}
.button-newsletter-button {
  width: 200px;
  height: 52px;
  background: #82b3d3;
  border-radius: 0px 4px 4px 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}
